@tailwind base;
@tailwind components;
@tailwind utilities;

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --fc-border-color: rgba(133, 160, 187, 0.5); 
}

.fc{
  max-height: 100%;
}

.fc .fc-toolbar .fc-header-toolbar {
  margin-bottom: 0.5rem;
}

.fc-toolbar-title {
  font-size : 15px;
  color: #0C4177 !important;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: #0C4177 !important;
}

#calendar {
  background-color: #f9f9f9; /* light background */
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  color: #555; /* subtle text color */
}

/* Header styles */
.fc-toolbar {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.fc-day-today {
  background-color: #fff !important;

}
/* 
.fc-day-today .fc-daygrid-day-top{
  display: flex;
  justify-content: center;
  background-color: #2d4373;
  border-radius: 8px;
  margin:0px 6px;
} */

.fc-day-today .fc-daygrid-day-number {
  background-color: #2d4373; /* Dark blue background */
  color: #ffffff; /* White text */
  border-radius: 8px; /* Rounded corners */
  padding: 1px 50px;
  font-weight: 500;
  font-size: 14px; 
  display: inline-block; 
}

.fc-day-today-number {
  background-color: #0C4177 !important;

}

.fc-toolbar-title {
  font-size: 20px;
  color: #333; /* dark title color */
}



/* Individual date cells */
.fc-daygrid-day {
  background-color: #fff;
  padding: 10px;
  border-bottom: none !important;;
}

.fc-daygrid-day-number {
  font-size: 12px;
  color: #0C4177;
  font-weight: bold;
}

.fc-event-time{
  margin-right: 10px;
}


.fc-daygrid-day-top{
  display: flex;
  justify-content: center;
  padding: 6px 0px;
}

/* Remove the background for events */
.fc-event {
  background-color: transparent !important; /* Makes the background transparent */
  border: none !important; /* Removes the border around events */
  display: flex;
  justify-content: center;
}

/* Optional: Adjust text style for events */
.fc-event .fc-event-title {
  color: #0C4177 !important;
  font-size: 14px; /* Adjust font size if necessary */
  font-weight: bold; /* Optional: Make event title bold */
}

.fc-event {
  display: flex;
  align-items: center;
  justify-content: start;
  background: none; /* Remove the default background */
  color: #1e90ff; /* Set text color */
  font-weight: bold; /* Make the text bold */
  font-size: 0.9rem; /* Adjust the font size */
  border: none; /* Remove the border */
}

.fc-event .fc-event-title {
  color: #0C4177 !important;

  display: inline-block;
}

.fc-event .fc-event-time {
  color: #0C4177 !important;
  display: inline-block;
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #0C4177;
}



/* Remove any table column-level borders */
.fc-daygrid-table {
  border-collapse: collapse; /* Ensures no column borders remain */
}

.fc-daygrid-day {
  border-right: none; /* Ensures no vertical borders within cells */
}